{
  "arrowParens": "avoid",
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "endOfLine": "crlf",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "singleAttributePerLine": false,
  "printWidth": 140
}