@import 'styles/easings.scss';
@import 'styles/variables.scss';

html {
  box-sizing: border-box;
  block-size: 100%;
  font-family: sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}

